<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
</head>
<body>
    <header class="container">
        <h1>취업성공</h1>
        <button>CSV 다운로드</button>
    </header>
    <main class="container">
        <h1>검색페이지 입니다</h1>
        <h4>키워드 '{{ keyword }}'로 검색된 결과입니다.</h4>
        <div>
        {% for job in jobs %}
        
        <p>{{ job["title"] }}, {{ job["location"]}}</p>
        
        {% endfor %}

        </div>
    </main>
</body>
</html>